# Node modules
node_modules/

# Next.js
.next/
out/
build/

# Tailwind
*.scss
*.sass

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# Others
coverage/
*.cache
